/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #807E7F;
	margin: 0;
}

.clear {
        clear: both;
}

#navi{
	float: right;
	margin-right:3px;
}

.navigation_block{
	float:left;
	display:block;
	padding: 0 30px 0 30px;;
}

header{
	text-align: center;
	background: #539191;
	padding: 0px;
	color: #684933;
	width:100%;
}

main{
	width:75%;
	height:100%;
	background: #565656;
	padding:0 0 10px 0;
	overflow: auto;
	float:left;
}
.box{
	padding: 5px;
	height:100px;
	color: #539191;
	border: 2px solid;
	margin: 1px;
}

#sidebar{
	width:20.5rem;
	height:100%;
	background: #684933;
	color: #539191;
	border: thick double #539191;
	float:left;
}
